._ {
  animation: wakeup 400ms ease 0s 1 normal forwards;
  animation: life 2s ease 0s infinite normal forwards;
}

.IconStar {
  fill: #CCCCFF;
}

@keyframes life {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes wakeup {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(2);
    height: 23px;
    width: 23px;
  }

  100% {
    transform: scale(1);
  }
}